@media screen and (max-width: 480px){
    body{
        background-image: url("구름.gif")
        }
    .head{
        font-size: 80%;
        color: rgb(22, 22, 22);
        font-family: cursive;
        }
    .title{
        font-size: 200%;
        font-family: 'Times New Roman', Times, serif;
        }
    .ex {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .sol{
        margin-bottom: 10px;
        width: 100%;
        }

}