        /*현재 화면을 가로로 변경하는 스타일작성*/

        .head{
            text-align: center;
            color: rgb(43, 185, 204);
            font-size: 2em;
            }
        .container{
            width: 100%;
            text-align: center;
            border: 0;
            }
        .area {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            }
        .ex {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            }
        .sol {
            border: 2px inset black;
            border-radius: 8px;
            width: 350px;
            height: 800px;
            padding: 10px;
            background-color: powderblue;
            margin: 5px 15px;
            box-sizing: border-box;
            position: relative;
            }
        .text {
            margin: 10px;
            }
        .texthead{
            margin-bottom: 0;
            padding-bottom: 0;
            font-size: 150%;
            font-weight: bold;
            }
        .adress{
            font-size: 120%;
            font-weight: bold;
            border-bottom: 1px solid;
            display: inline-block;
            margin: 5px;
            }
        img{
            width: 100%;
            border-radius: 8px;
            }
        .title{
            font-size: 3em;
            margin-top: 20px;
            margin-bottom: 20px;
            }
        #bt01{
            font-style: inherit;
            padding: 5px;
            border-radius: 8px;
            background-color: powderblue;
            position: absolute;
            bottom: 30px;
            transform: translateX(-50%);
            left: 50%;
            }
        #bt01:hover{
            background-color: aliceblue;
            }
        #bt02{
            font-style: inherit;
            padding: 5px;
            border-radius: 8px;
            background-color: powderblue;
            position: absolute;
            bottom: 30px;
            transform: translateX(-50%);
            left: 50%;
            }
        #bt02:hover{
            background-color: aliceblue;
            }
        #bt03{
            font-style: inherit;
            padding: 5px;
            border-radius: 8px;
            background-color: powderblue;
            position: absolute;
            bottom: 30px;
            transform: translateX(-50%);
            left: 50%;
            }
        #bt03:hover{
            background-color: aliceblue;
            }
        #bt04{
            font-style: inherit;
            padding: 5px;
            border-radius: 8px;
            background-color: powderblue;
            position: absolute;
            bottom: 30px;
            transform: translateX(-50%);
            left: 50%;
            }
        #bt04:hover{
            background-color: aliceblue;
            }    
        #bt05{
            font-style: inherit;
            padding: 5px;
            border-radius: 8px;
            background-color: powderblue;
            position: absolute;
            bottom: 30px;
            transform: translateX(-50%);
            left: 50%;
            }
        #bt05:hover{
            background-color: aliceblue;
            } 
        #bt06{
            font-style: inherit;
            padding: 5px;
            border-radius: 8px;
            background-color: powderblue;
            position: absolute;
            bottom: 30px;
            transform: translateX(-50%);
            left: 50%;
            }
        #bt06:hover{
            background-color: aliceblue;
            }
        .modal{
            width: 400px;
            height: 600px;
            border: 5px solid black;
            border-radius: 10px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: white;
            z-index: 1;
            }
        #modalhead{
            font-size: xx-large;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bolder;
            margin: 0;
            }
        #modalp{
            margin: 12px;
            font-size: x-large;
            font-family: 'Courier New', Courier, monospace;
            }
        #modaltime{
            margin: 0 0 -5px 0;
            font-size: x-large;
            font-family: 'Courier New', Courier, monospace;
            }
        .modalpic{
            width: 100%;
            box-sizing: border-box;
            }
        #closemodal{
            position: absolute;
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%);
            }